<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <title>example</title>
    <style>
        .container {
            width: 500px;
            padding: 20px;
        }
        .container label {
            font-weight: normal;
        }
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        ::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            background: rgba(119, 129, 149, 0.8);
        }
    </style>
</head>
<body>
    <h1 align="center">@Vue Component - vc-pagination</h1>

    <div id="app">
        <vc-pagination
            :simple="simple"
            :align="align"
            :first-page-text="firstPageText"
            :last-page-text="lastPageText"
            :display-num="displayNum"
            :edge-num="edgeNum"
            :total="total"
            :current.sync="current"
            :page-size.sync="pageSize"
            :page-size-editable="pageSizeEditable"
            :page-size-arr="pageSizeArr"
            :jumpable="jumpable"
            :go-label="goLabel"
            :invilid-page-handler="invilidPageHandler"
            :on-page-change="onPageChange"
            :on-page-size-change="onPageSizeChange"
        >
        </vc-pagination>

        <div class="container">
            <div class="form-group">
                <div>simple - 是否是简单版本的分页(默认: false)</div>
                <label><input type="radio" :value="bools.true" name="simple" v-model="simple"> 简单版</label>
                <label><input type="radio" :value="bools.false" name="simple" v-model="simple"> 完整版</label>
            </div>

            <div class="form-group">
                <div>align - 对齐</div>
                <label><input type="radio" value="center" name="align" v-model="align">居中</label>
                <label><input type="radio" value="left" name="align" v-model="align">居左</label>
                <label><input type="radio" value="right" name="align" v-model="align">居右</label>
            </div>

            <div class="form-group">
                <label>firstPageText - 首页文案(只有页数足够多且edgeNum为0的时候才显示)</label>
                <input type="text" class="form-control" placeholder="firstPageText" v-model="firstPageText" />
            </div>

            <div class="form-group">
                <label>displayNum - 末页文案(只有页数足够多且edgeNum为0的时候才显示)</label>
                <input type="text" class="form-control" placeholder="lastPageText" v-model="lastPageText" />
            </div>

            <div class="form-group">
                <label>displayNum - 共显示多少页(默认: 6)</label>
                <input type="number" class="form-control" placeholder="displayNum" v-model="displayNum" />
            </div>

            <div class="form-group">
                <label>edgeNum - 前后剩下多少页(默认: 2, 试试输入0且total输入2000)</label>
                <input type="number" class="form-control" placeholder="edgeNum" v-model="edgeNum" />
            </div>

            <div class="form-group">
                <label>total - 总结果集数目</label>
                <input type="number" class="form-control" placeholder="total" v-model="total" />
            </div>

            <div class="form-group">
                <label for="" class="">current - 当前页面(从1开始)</label>
                <input type="number" class="form-control" placeholder="current" v-model="current" />
            </div>

            <div class="form-group">
                <label>pageSize - 一页的数目(默认: 10)</label>
                <input type="text" class="form-control" placeholder="pageSize" v-model="pageSize" />
            </div>

            <div class="form-group">
                <div>pageSizeEditable - 是否可切换pageSize(默认: true)</div>
                <label><input type="radio" :value="bools.true" name="pageSizeEditable" v-model="pageSizeEditable">是</label>
                <label><input type="radio" :value="bools.false" name="pageSizeEditable" v-model="pageSizeEditable">否</label>
            </div>

            <div class="form-group">
                <div>pageSizeArr - 分页渲染数组(默认: 10,20,40,100)</div>
                <input type="text" class="form-control" placeholder="pageSizeArr" v-model="pageSizeArrStr" />
                <button @click="setPageSizeArr" class="btn btn-info">点击重置pageSizeArr(逗号分割的数字)</button>
            </div>

            <div class="form-group">
                <div>jumpable - 是否可跳转(默认: true)</div>
                <label><input type="radio" :value="bools.true" name="jumpable" v-model="jumpable">是</label>
                <label><input type="radio" :value="bools.false" name="jumpable" v-model="jumpable">否</label>
            </div>

            <div class="form-group">
                <label>goLabel - 跳转按钮文案(默认: 跳转)</label>
                <input type="text" class="form-control" placeholder="goLabel" v-model="goLabel" />
            </div>
        </div>

    </div>
    <script src='../dist/example.js'></script>
</body>
</html>
